<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" (A fancy cool ✅ Text generator that helps create stylish text font styles with beautiful symbols and fancy characters for social networks & any other places. Fancy Text Generator Make 𝐔𝐧𝐢𝐪𝐮𝐞 & 𝔽𝕒𝕟𝕔𝕪 font style including roman, greek, cursive letters & many other fancy fonts.)" />

    <title>Fancy Text Generator & Font Changer 😎 Cool Font Generator</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="icon" href="~/image/favicon.svg">
    <link rel="stylesheet" href="~/fonts/stylesheet.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link href='https://fonts.googleapis.com/css?family=Engagement' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Eater' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dr Sugiyama' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dokdo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dawning of a New Day' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Covered By Your Grace' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Condiment' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bonbon' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Black And White Picture' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Barriecito' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Atomic Age' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Astloch' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aguafina Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    @*<input id="copyinput" >*@
   @* <input id="copyinput1">*@
   @* <input id="copyinput2">*@
   @* <input id="copyinput3">*@
   @* <input id="copyinput4">*@
    <main class="wow fadeIn  animated" style="visibility: hidden; animation-name: none;">

        @RenderBody()


        @*<footer class="wow fadeIn  animated" style="visibility: visible; animation-name: fadeIn;">
                <div class="container">
                    <div class="Footer_content row">
                        <div class="Ft_cnt2 Ftr_cmn01 col-12 col-sm-6 col-md-4"
                             data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
                            <div class="Ft_heading">
                                <h2>quick Links</h2>
                            </div>
                            <div class="FT_contnt">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li> <a href="#">Contact</a></li>
                                    <li><a href="#">Casino game Rules</a></li>
                                    <li><a href="#">Term & Condition</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="Ft_cnt3 Ftr_cmn01 col-12 col-sm-6 col-md-4">
                            <div class="Ft_heading">
                                <h2>contact Us</h2>
                            </div>
                            <div class="FT_contnt">
                                <ul>
                                    <li><a href="#">Responsible gaming</a></li>
                                    <li><a href="#">privacy & Security</a></li>
                                    <li> <a href="#">Contact</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">History of Casino Games</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="Ft_cnt4 Ftr_cmn01 col-12 col-sm-6 col-md-4"
                             data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
                            <div class="Ft_heading">
                                <h2>Social</h2>
                            </div>
                            <div class="FT_contnt">
                                <ul class="Unord_First">
                                    <li>
                                        <a href="#" class="social-icon Sl_01">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon Sl_02">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon Sl_03">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon Sl_04">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="Unord_second">
                                    <li><a href="mailto:"><i class="fas fa-envelope"></i>Insta@InstaFont.com.au</a></li>
                                    <li><a href="#:"><i class="fas fa-phone-alt"></i> +61 7220 4747</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                 copyright section
                <div class="copyright_wrapper">
                    <div class="container">
                        <div class="Copyright_content">
                            <p>
                                <span>2020 instaFont.com © All Rights Reserved</span>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>*@
    </main>
    @*script---section*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/Scripts/js/aos.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        new WOW().init();

    </script>
    <script>
        var rules = [];
        let a = {
            0: ["О", "Ο", "0", "O", "о", "ο", "𝖮", "𝟢", "߀", "o", "Օ", "⁰", "𝟬", "𝗈", "₀", "໐", "θ", "𝐎", "𝚶", "٥", "օ", "𝟶", "ⵔ", "𝘖", "𐒠", "ₒ", "𝗢", "𝝤", "ᴏ", "Ⲟ", "𝟎", "𐒆", "𝙊", "𝐨", "ᴼ", "𝞞", "ℴ", "⬯", "𝛐", "𝑶", "𝜪", "𝙤", "𝘰", "𝙾", "𝞸", "ߋ", "𝝾", "⭘", "𝗼", "𝛰", "⭕", "𝑂", "𝒐", "𝝄", "૦", "𝑜", "⚬", "○", "ⲟ", "𝜊", "𝝷", "𝞱", "ᵒ", "ʘ", "◯", "Ꙩ", "Ό", "𝚘", "𝛉", "𝝧", "Θ", "ഠ", "❍", "੦", "ტ", "𝜃", "ⵙ", "Ȯ", "Ѻ", "ꙩ", "Ọ", "𐌏", "𝛳", "𝜽", "𝝝", "೦", "⨀", "𐍈", "௦", "ō", "ȯ", "⊙", "⚈", "𝞡", "𝜭", "ɵ", "Ө", "०", "◎", "๏", "ဝ", "၀", "〇", "ㅇ", "０", "࿀", "๐", "ዐ", "౦", "൦", "☉", "ㆁ", "ዕ", "ø", "စ", "ဓ", "⊘", "Ö", "ଠ"],
            1: ["ɿ", "𝟏", "1", "𝟣", "¹", "₁", "𝟭", "𝟷", "𝐥", "ߗ", "↿", "𝚕", "℩", "⥠", "ๅ", "˦", "⌉", "˥", "⸣", "⎤", "⎫", "𝟙", "Ⲓ", "߁", "ⲓ", "١", "۱", "▌", "▍", "𝞲", "Ί", "▐", "𝞘", "৷", "𝙡", "❚", "▮", "⸶", "Ι", "𐌹", "I", "▎", "l", "╻", "┃", "І", "╹", "▏", "╽", "▕", "𝝸", "ߊ", "╷", "ⵏ", "ǀ", "Ӏ", "𝝞", "Ⅰ", "ꟾ", "𐒃", "|", "ꞁ", "ı", "ˡ", "ا", "।", "丨", "∣", "│", "།", "↾", "ㅣ", "୲", "∤", "１", "ŀ", "ľ", "①", "ן"],
            2: ["2", "𝟤", "𝟮", "ᒿ", "²", "ƻ", "շ", "₂", "𝟐", "𝟸", "ᒾ", "ջ", "ᘖ", "𝟚", "ຂ", "ર", "⟅", "𝓠", "②", "２", "२", "2", "ഉ", "੨", "உ", "೭", "ㄹ", "೩"],
            3: ["3", "З", "𝟥", "з", "𝟯", "ჳ", "ɜ", "³", "ვ", "ʒ", "₃", "𝟑", "ᴈ", "𝟹", "Ӡ", "კ", "Ȝ", "Յ", "Ʒ", "ȝ", "∃", "Ǝ", "ᶟ", "૩", "ᴟ", "ᶾ", "ⴺ", "ᴣ", "℥", "ᵌ", "Ҙ", "𝖅", "ʓ", "ⱻ", "ᴲ", "ƺ", "ᗱ", "ᗲ", "ョ", "𝟛", "ҙ", "ヨ", "ᶚ", "③", "ろ", "３", "ဒ", "౩", "3", "⒊", "る", "ਭ", "ਡ", "३"],
            4: ["4", "𝟦", "𝟰", "⁴", "₄", "𝟒", "Ꮞ", "𝟺", "𝟜", "Ꜭ", "ꜭ", "ᔦ", "Ч", "Ɥ", "౺", "ч", "Ӌ", "Ҷ", "[", "4", "]", "④", "４", "ፋ"],
            5: ["𝟧", "5", "ƽ", "𝟱", "Ƽ", "⁵", "𝟓", "₅", "𝟻", "𝟝", "ら", "５", "⑤", "ち"],
            6: ["6", "𝟨", "ნ", "б", "𝟲", "⁶", "Ꮾ", "ϭ", "₆", "Ϭ", "𝟼", "𝟔", "ճ", "წ", "ჼ", "ꕃ", "໒", "⑥", "６", "[", "6", "]", "ර"],
            7: ["𝟳", "𝟩", "7", "⁷", "𝟕", "₇", "𐒇", "ᜪ", "𝟽", "⁊", "𝟟", "⦢", "ד", "⅂", "ᒣ", "Ⴈ", "┑", "┐", "Ꞁ", "ߣ", "⧶", "ገ", "ℸ", "٦", "⑦", "７", "[", "7", "]"],
            8: ["8", "𝟪", "𝟴", "⁸", "𐌚", "₈", "𝟾", "ꖉ", "৪", "ზ", "Ȣ", "ꗉ", "𝟠", "⑧"],
            9: ["9", "𝟫", "𝟵", "⁹", "₉", "𐒘", "𝟿", "𝟗", "Ⳋ", "ⳋ", "ᑫ", "ߟ", "۹", "੧", "٩", "و", "৭", "ﻭ", "⑨", "[", "9", "]", "９", "ອ", "ፃ"],
            a: ["a", "а", "ₐ", "𝖺", "ᵃ", "𝗮", "𝘢", "Ƌ", "𝚊", "𝙖", "მ", "𝟃", "𝐚", "∂", "ƌ", "𝞉", "ą", "ɑ", "α", "𝝏", "⍺", "𝝰", "𝒂", "𝞪", "ߥ", "ᥑ", "ᥲ", "𝑎", "შ", "𝜶", "𝛼", "ᵅ", "𝖆", "ລ", "𝛂", "𝓪", "𝜕", "@@", "ạ", "á", "à", "ā", "ล"],
            b: ["b", "ხ", "ɓ", "ᖯ", "𝖻", "ߕ", "𝘣", "Ь", "ᑲ", "ƅ", "𝐛", "𝗯", "ƀ", "ᵇ", "Ƅ", "ƃ", "Ъ", "Ҍ", "␢", "ᒃ", "Ꮟ", "ᵬ", "𝙗", "ь", "𝚋", "Ⴆ", "Ϧ", "Ⱃ", "𝖇", "𝒃", "𝑏", "ҍ", "ъ", "♭", "ḃ", "ᑳ", "ⱃ", "Ꙏ", "ᑿ", "ᕹ", "ḅ", "𝔟", "𝕓"],
            c: ["C", "Ϲ", "𝖢", "Ⅽ", "𝗖", "С", "c", "ϲ", "∁", "с", "𝖼", "𝘾", "ⅽ", "ᑕ", "ᴄ", "𝘊", "ᶜ", "𝘤", "Ꮯ", "Ⲥ", "ᑦ", "ᒼ", "𐒨", "𝐜", "𝗰", "ⲥ", "𝙲", "𝙘", "Ꮳ", "ʗ", "𝚌", "ⵎ", "𝒄", "ͨ", "𝑐", "ç", "𝓒", "ᥴ", "𝓬", "Ͼ", "Ċ", "⸦", "८", "ͼ", "ᑢ", "℃", "င", "ｃ", "ር", "🇨", "ċ", "匚", "Ć", "ㄷ"],
            d: ["đ", "ɗ", "ძ", "d", "ⅾ", "ᑯ", "𝖽", "ժ", "𝘥", "𝗱", "Ԁ", "Ꮷ", "ᵈ", "𝙙", "𝐝", "Ժ", "𝚍", "ͩ", "ḑ", "𝒅", "𝑑", "ᵭ", "ԁ", "𝒹", "ⅆ", "ᕷ", "𝕕", "𝛿", "𝓭", "ḋ", "Ԃ", "ᑰ", "ď", "𝛛"],
            e: ["е", "𝖾", "ₑ", "e", "𝘦", "ᵉ", "𝐞", "𝗲", "ℯ", "𝙚", "𝚎", "Ә", "ə", "Ҽ", "ɘ", "𝟈", "ę", "ᥱ", "𝒆", "𝑒", "℮", "ǝ", "ә", "𝓮", "ᕪ", "ᕦ", "𝖊", "巳", "ల", "已", "୧", "ല", "ē", "é"],
            f: ["f", "𝖿", "ƒ", "𝗳", "ᶠ", "⨍", "ẝ", "𝐟", "ẜ", "⨎", "𝘧", "𝙛", "𝚏", "𝕗", "ғ", "ᵳ", "𝓯", "𝖋", "𝒇", "𝑓", "ᶂ", "⨏", "𝔣", "🝡", "բ"],
            g: ["𝗀", "ɡ", "g", "ց", "𝗴", "𝐠", "𝘨", "𝒈", "ᶢ", "ᵍ", "𝑔", "𝙜", "ǥ", "Ց", "𝚐", "გ", "𝖌", "𝔤", "𝓰", "ģ", "ġ", "ဌ", "ｇ"],
            h: ["һ", "𝗵", "h", "Ⴙ", "𝗁", "Һ", "ʰ", "𝘩", "ħ", "ի", "ɦ", "𝐡", "ꜧ", "Ꮒ", "ₕ", "ᑋ", "ⱨ", "𝚑", "𝙝", "ℎ", "ʱ", "ꚕ", "Ԧ", "ɧ", "♄", "𐌷", "Ꚕ", "𝒉", "𝕙", "ћ", "ͪ", "ђ", "ḣ", "ĥ", "ḥ", "ℏ", "ẖ", "𝖍", "ԧ", "ḩ", "ȟ", "ḫ", "Ⴌ", "ჩ", "ん", "𐒅"],
            i: ["Í", "Ī", "і", "i", "Î", "İ", "𝗂", "ⅰ", "𝐢", "Ǐ", "Ꭵ", "ℹ", "ᵢ", "ꜟ", "Ì", "ꜞ", "ī", "į", "𝖏", "Ĭ", "וֹ", "ɨ", "Ῑ", "𝗶", "ⁱ", "𝔦", "ᴉ", "𝔧", "ῑ", "Ỉ", "𝖎", "ﺃ", "𝒊", "𝚒", "𝙞", "ἰ", "أ", "ἱ", "ί", "Ĩ", "ﺄ", "ὶ", "Ῐ", "ĺ", "𝑖", "î", "ῐ", "ỉ", "𝘪", "ĭ", "í", "ì", "ǐ", "ί", "𝒾", "𝓲", "ⅈ", "Ȋ", "ﺂ", "ı", "Ἰ", "讠", "༏", "ΐ", "ï"],
            j: ["ϳ", "ј", "𝐣", "j", "𝗷", "𝗃", "ʲ", "𝘫", "ⱼ", "𝙟", "ʝ", "𝕛", "ĵ", "ȷ", "Ì", "𝖩", "ᒨ", "𝑗", "⌡", "ɉ", "𝒋", "ﻟ", "𝖏", "ᒎ", "⎭", "ᴶ", "ﻧ", "ǰ", "ⅉ", "ڵ", "𝚓", "𝗝", "ᶨ", "ڶ", "𝓳", "ڒ", "ۯ", "ݬ", "ᒩ", "𝙅", "ᒏ", "ﮌ", "ڑ", "ز", "𝒿", "ᒛ", "ᒵ", "ᑰ", "ᒍ", "ﻝ", "ل", "ᒴ", "ﻞ", "၂", "ژ", "ذ"],
            k: ["𝗸", "k", "𝗄", "𝐤", "𝘬", "ᵏ", "ƙ", "𝙠", "ĸ", "ҟ", "ₖ", "𝚔", "ⱪ", "K", "K", "𝗞", "𝖪", "𝝟", "κ", "Κ", "к", "К", "Ꮶ", "𝒌", "Қ", "𝑘", "𝐊", "𐌊", "𝕜", "𝙆", "₭", "Ҝ", "𝞙", "Ҡ", "𝚱", "ᴷ", "Ƙ", "ᴋ", "ḱ", "𝝹", "қ", "ǩ", "ꝁ", "𝘒", "ꝃ", "Ќ", "ķ", "ḵ", "ḳ", "Ḱ", "Ǩ", "Ꝃ", "Ꝁ", "Ҟ", "ҝ", "Ķ", "Ⲕ", "ќ", "𝙺", "𝞳", "Ԟ", "Ḳ", "ꝅ", "𝛋", "Ḵ", "ꗪ", "Ꝅ", "ҡ", "𝖐", "ᶄ", "𝛫", "ⲕ", "Ϗ", "𝜥", "Ⱪ", "𝕂", "🇰"],
            l: ["┃", "I", "Ι", "І", "l", "𝐥", "Į", "▏", "Ⲓ", "ǀ", "ⵏ", "ߊ", "╵", "▕", "ᥣ", "╽", "ꟾ", "▎", "╿", "ꞁ", "ɭ", "|", "ᶅ", "ⅼ", "⌊", "❙", "𝗅", "⎮", "Ӏ", "Ⅰ", "ا", "ﺍ", "լ", "𐌠", "Ɩ", "𐌉", "𝗹", "ﺎ", "Ꙇ", "৷", "𝔩", "ι", "ɩ", "ᶩ", "│", "⎢", "ˡ", "⎜", "⍳", "⎣", "❘", "└", "ꙇ", "┕", "׀", "𝝞", "L", "ן", "⎩", "𝚕", "ʅ", "▐", "▌", "ӏ", "⎟", "⎥", "𝖑", "⎪", "ᥨ", "∣", "꜖", "し", "𝒍", "Լ", "𝞘", "𝍩", "/", "ʟ", "𝙇", "ւ", "𝘓", "Ⅼ", "𝑙", "ᒻ", "ḻ", "𐒃", "ᴸ", "⸤", "ᒐ", "⎝", "╙", "ℓ", "⇂", "١", "౹", "।", "丨", "།", "｜", "‖", "Ί", "เ", "ŀ", "ไ", "ľ", "ｌ", "ㄴ", "乚", "ㅣ", "ட"],
            m: ["𝗺", "m", "𝐦", "𝗆", "𝙢", "ⅿ", "𝘮", "ɱ", "𝚖", "ᗰ", "₥", "ᵐ", "ന", "ₘ", "ͫ", "𝖒", "ጠ", "ᶬ", "ო", "𝕞", "ᙏ", "ṃ", "ᙢ", "൩", "𝒎", "ᵯ", "ᘻ", "⩋", "ᗶ", "𝓶", "♏", "𝑚", "𝔪", "ጢ", "⫙", "ṁ", "𝓂", "ጡ", "㎡", "ጦ", "ጣ", "ෆ", "㎥"],
            n: ["n", "П", "𝝥", "𝗇", "п", "ո", "Ŋ", "Ⴖ", "Ո", "Π", "∏", "𝗻", "∩", "ᑎ", "η", "Ꞃ", "ⁿ", "𝝶", "ƞ", "⋂", "ր", "ח", "ᴨ", "𝐧", "ₙ", "Ƞ", "ɳ", "ᥒ", "ŋ", "ɲ", "ﬨ", "𝚗", "𝞟", "𝙣", "ռ", "𝘯", "ת", "𝞰", "Ռ", "𝒏", "𝑛", "𐌿", "ղ", "𐍀", "Ⲡ", "𝖓", "𝔫", "ი", "ᥥ", "ꞑ", "ᥰ", "ῃ", "𐒐", "ņ", "ԉ", "ԥ", "ᑙ", "ṇ", "ᑏ", "ᑚ", "ṉ", "𝓷", "𝝒", "Ԉ", "𝟆", "ṅ", "ṋ", "ŉ", "դ", "𝛈", "በ", "תּ", "𝜼", "ก", "ກ", "ቢ", "ｎ", "ቡ"],
            o: ["О", "о", "Ο", "O", "ο", "o", "𝖮", "໐", "𝗈", "𝗢", "𝝤", "ₒ", "Օ", "0", "ⵔ", "օ", "ᴼ", "ᴏ", "𝘖", "𝐎", "𝚶", "߀", "⁰", "𝟢", "𝟬", "𝙊", "𝞞", "Ơ", "ߋ", "ᵒ", "⭘", "⚬", "Ⲟ", "₀", "⭕", "𝞸", "𝙤", "𝝾", "𝗼", "σ", "𐒠", "𝛐", "૦", "௦", "𝘰", "𝐨", "٥", "ℴ", "ⲟ", "𝜪", "𝝄", "𝑶", "θ", "𝒐", "𝜊", "𝑜", "𝞂", "𝟶", "𝛰", "𝑂", "○", "𝞼", "Ѻ", "𝞱", "𝙾", "๐", "𝚘", "𝝧", "੦", "ഠ", "❍", "०", "⚈", "𝝷", "◯", "𝞡", "𝛔", "𝛉", "ʘ", "𝓸", "ѻ", "ܘ", "Ꙩ", "Θ", "𝖔", "𝜃", "০", "𝜎", "ⵀ", "ⵙ", "Ό", "Ф", "𝜽", "ᴑ", "⚉", "ዑ", "𝝈", "ɵ", "೦", "⊙", "◎", "๏", "ဝ", "၀", "ס", "〇", "࿀", "ㅇ", "０", "౦", "Ò", "☉", "Ō", "ዐ", "ō", "⊕", "൦", "ó", "Ө", "ò", "ㆁ", "Ø", "ဓ", "စ"],
            p: ["p", "р", "⍴", "𝗉", "ᑭ", "𝗽", "ϸ", "ρ", "𝐩", "𝛒", "ꝑ", "𝞀", "𝘱", "þ", "ϼ", "ᵖ", "ₚ", "𝙥", "𝚙", "𝞺", "ƥ", "ƿ", "ᴘ", "ᵱ", "𝑝", "𝒑", "𝔭", "𝓹", "ⲣ", "𝕡", "𝖕", "ᑶ", "Ꭾ", "ᑮ", "ꝓ", "ᕶ", "ཥ"],
            q: ["ɋ", "q", "𝗊", "գ", "ԛ", "զ", "Ɋ", "ꝗ", "𝗾", "ᑫ", "𝘲", "𝐪", "𝙦", "𝚚", "𝒒", "𝑞", "𝓺", "૧", "ǫ", "ᕴ", "ᶐ", "੧", "٩", "۹", "৭", "𝕢", "ᒅ", "ꘫ", "𝔮", "𝚀", "ฯ"],
            r: ["┎", "┏", "𝝘", "𝗿", "r", "𝗋", "⸢", "г", "┍", "ᵣ", "ʳ", "Г", "ɼ", "Γ", "┌", "𝞒", "Ꞅ", "ᒥ", "𝐫", "𝚪", "ᴦ", "𝘳", "Ꮁ", "ᒋ", "ɾ", "꜒", "ᣘ", "𝚛", "𝙧", "𝜞", "⸀", "ґ", "ɽ", "ᣴ", "Ⲅ", "𝛤", "ͬ", "𝒓", "𝑟", "ṛ", "ⲅ", "ꞃ", "𝖗", "٢", "𝓻", "۲", "ŗ", "Ѓ", "ꞅ", "୮", "「", "ŕ"],
            s: ["s", "ѕ", "Ѕ", "𝖲", "Ⴝ", "ꜱ", "𝗦", "ˢ", "𝗌", "S", "Տ", "ᔆ", "𝘚", "𝘴", "ₛ", "Ꮪ", "𝙎", "𝘀", "𐍃", "𝚂", "Ꭶ", "𝐬", "ડ", "Ş", "ട", "ꕶ", "𝚜", "𝙨", "Ꚃ", "𐒖", "ຣ", "Ꮥ", "𐒡", "ş", "ಽ", "ʂ", "𝒔", "ऽ", "ᣵ", "𝑠", "ઽ", "ꗟ", "ﻛ", "ﮐ", "𝓢", "⳽", "ຮ", "ꚃ", "Ṣ", "⟆", "ﮑ", "𝕊", "𝕤", "ی", "ꕷ", "Ｓ", "Ś", "ي", "🇸", "ى", "ร", "ક"],
            t: ["t", "𝗍", "ŧ", "ʈ", "𝐭", "𝘵", "ᵗ", "𝘁", "ₜ", "ƫ", "Ʈ", "𝔱", "𝖙", "𝕥", "𝙩", "Ꚍ", "τ", "†", "𝚝", "է", "Ҭ", "ߙ", "ꚍ", "𝓽", "ꞎ", "ϯ", "Է", "Ł", "✝", "ⱦ", "𝒕", "ȶ", "𝑡", "ե", "Ե", "Ꝉ", "七", "ቲ", "ť", "ţ", "ｔ"],
            u: ["U", "𝗨", "𝗎", "u", "ᑌ", "∪", "ս", "𝖴", "ⵡ", "Ս", "ᓑ", "ᶸ", "Ա", "⋃", "𝘂", "υ", "Մ", "ᵤ", "ᵁ", "𝐮", "ᴜ", "ʋ", "Ⴎ", "ᵘ", "µ", "ᥙ", "𝙐", "ų", "𝚞", "𝙪", "Ų", "ʯ", "⊔", "𝞄", "Ʋ", "𝘜", "𝞾", "ᐡ", "𝘶", "ߎ", "ն", "𝒖", "𝑢", "𝖚", "પ", "ᥩ", "𐒩", "𐌵", "𐒜", "𝚄", "ʊ", "𝓾", "𝓤", "և", "𝝒", "૫", "ᑘ", "𝝁", "ụ", "𝖀", "Ư", "Ū", "ū", "𝔲", "Ǔ", "ᑗ", "Ụ", "ͧ", "ᑧ", "𝛍", "ù", "𝕌", "Ũ", "Ŭ", "Ȗ", "ᕫ", "𝓊", "𝔘", "ũ", "ᶣ", "Ú", "Û", "ပ", "ப", "ሀ", "ㄩ", "🇺", "ሁ", "ύ", "ປ", "⊍", "ป", "ú", "Ù", "ህ", "ມ", "ሆ", "ບ"],
            v: ["𝗩", "ᐯ", "V", "v", "ⴸ", "𝖵", "𝗏", "Ⅴ", "ⅴ", "∨", "ᵥ", "Ꮩ", "ᴠ", "ⱽ", "𝘃", "Ѵ", "⋁", "∀", "ᵛ", "ѵ", "ݍ", "𝝯", "∇", "ν", "ᐁ", "Ɐ", "𝐕", "𝚅", "𝚟", "𝐯", "⋎", "𝙑", "ͮ", "ߜ", "۷", "٧", "𝙫", "𝞶", "ᕓ", "𝘷", "𝝼", "𝑽", "𝘝", "˅", "𝑉", "𝜵", "ᘁ", "𝞩", "𝛎", "𝒗", "𝑣", "⛛", "߇", "𝜈", "𝛖", "𝝂", "𝜐", "ʊ", "𝓿", "⌵", "𝝊", "Ʋ", "🜄", "𝓥", "ᜠ", "Ꮴ", "ᜱ", "ᐺ", "ᕂ", "Ṿ", "√", "៴", "✓", "🇻", "ύ", "౮", "ሆ"],
            w: ["w", "𝗪", "𝘄", "𝗐", "Ԝ", "𝖶", "𝙒", "W", "ԝ", "ᴡ", "𝙬", "ʷ", "ᵂ", "𝘸", "Ꮃ", "Ⱳ", "𝘞", "𝚠", "ꟽ", "ⱳ", "𝐖", "Ꮤ", "𝐰", "𝚆", "𝑤", "𝑾", "𝕨", "𝑊", "𝒘", "𝕎", "Ш", "Ẁ", "ш", "ω", "𝞈", "Ẃ", "🝃", "𝟂", "⍵", "ᗯ", "ᐜ", "𝔀", "ѡ", "𝓦", "𝛚", "ᙎ", "𝝎", "ധ", "𝜔", "Ẅ", "ᙡ", "ⲱ", "ພ", "Ⲱ", "Ŵ", "ᘺ", "ሠ", "𝝕", "Ẉ", "ᗵ", "𝜛", "ሡ", "ꙍ", "𝛡", "ᥕ", "🇼", "🆆", "ｗ", "พ", "ຟ", "ώ", "ฟ", "ሥ", "ഡ", "⒲", "ຜ", "ຝ", "ผ"],
            x: ["x", "Χ", "х", "𝝬", "𝗫", "Х", "X", "𝗑", "ⅹ", "ⵝ", "𝖷", "𝘅", "Ⅹ", "ˣ", "χ", "ᕁ", "ᕽ", "ⵅ", "Ҳ", "ₓ", "ҳ", "𝙓", "᙮", "𐌢", "𐌗", "𝞦", "×", "𝞆", "᙭", "ᵡ", "𝚾", "ᵪ", "𝙭", "𝐗", "𝐱", "𝘹", "𝘟", "⨯", "ⴴ", "𝚇", "Ӿ", "𝚡", "𝛸", "☓", "𝑋", "𝟀", "✕", "╳", "𝑿", "✘", "𝜲", "𝒙", "Ӽ", "✗", "⨉", "𝑥", "𝛘", "𝜒", "𝝌", "ⵋ", "𝕏", "⌧", "𝔁", "𐍇", "𝓧", "ͯ", "𝕩", "⧖", "⛌", "ᚕ", "Ẍ", "ẍ", "⤫", "𝖃", "⤬", "🗙", "྾", "ｘ", "ㄨ"],
            y: ["y", "𝘆", "У", "у", "𝗒", "ʸ", "𝙮", "𝘺", "ү", "γ", "𝞬", "Ꭹ", "𝚢", "𝐲", "ұ", "𝝲", "ᵧ", "ᵞ", "𐍅", "ƴ", "ɏ", "𝐘", "𝕪", "Y", "𝒀", "𝑌", "Υ", "𝑦", "𝒚", "𝞤", "Ⴘ", "𝙔", "ყ", "Ꮍ", "ʏ", "ჸ", "𐒦", "𝖸", "𝘠", "𝗬", "𝚈", "Ү", "𝝪", "ỿ", "Ⴤ", "𝔂", "Ⴞ", "𝛄", "ߌ", "ץ", "џ", "ע", "𐒋", "Ỿ", "უ", "𝓨", "Ɏ", "丫", "Ύ", "Ý", "🇾", "ý", "ỵ", "Ÿ", "ㄚ", "ሃ"],
            z: ["Z", "z", "𝗭", "𝝛", "𝗓", "ᙆ", "Ζ", "ᴢ", "𝖹", "𝞕", "ᶻ", "𝙕", "Ꮓ", "Ⱬ", "𝒁", "𝜡", "Ƶ", "ⱬ", "𝘡", "𝑍", "𝛧", "𝚣", "𝘻", "𝚭", "Ȥ", "𝘇", "ƶ", "𝐙", "𝐳", "𝙯", "𝚉", "☡", "Ⲍ", "ᵶ", "ℤ", "Ɀ", "ʑ", "𝕫", "𝒛", "𐌶", "ⲍ", "ʐ", "𝑧", "Ż", "Ź", "ȥ", "乙", "🇿"],
            A: ["Α", "A", "А", "𝖠", "𝝖", "∆", "𝗔", "ᐃ", "Ꭺ", "Δ", "𐌀", "Ą", "ᴬ", "ⵠ", "Λ", "ᴀ", "𝝙", "ᐱ", "ⴷ", "ߡ", "ʌ", "𝘈", "Å", "𝝠", "𝙰", "𝚨", "∧", "𝐀", "𐌡", "Ѧ", "𝞐", "Ʌ", "𝘼", "𝚲", "Å", "⋀", "ꕔ", "𝐴", "𝛢", "𝞓", "ᗅ", "𝜜", "𝚫", "𝑨", "ᗋ", "Ꙙ", "𝞚", "𝜟", "٨", "۸", "₳", "ᴧ", "𝓐", "𝛬", "𝜦", "ѧ", "𝔸", "À", "ᗩ", "ꙙ", "🜂", "Á", "⩜", "⋏", "⧍", "Ã", "Ⲇ", "Ā", "Ă", "Ǎ", "Ȧ", "Ά", "🇦", "Ạ", "🅰", "️", "Ἀ"],
            B: ["B", "𝖡", "В", "𝘉", "Β", "в", "ᴮ", "𝗕", "𝝗", "ʙ", "Ᏼ", "𐌁", "Ɓ", "ꕗ", "𝙱", "Ƀ", "𝐁", "𝚩", "ᗷ", "𝞑", "𝘽", "𝜝", "ᗸ", "𝛣", "Ⲃ", "𝑩", "𝐵", "β", "ᴯ", "ᴃ", "ℬ", "ß", "Ᏸ", "ᗺ", "ⲃ", "𝓑", "𝝱", "ᗹ", "ẞ", "𝜷", "𝞫", "ɮ", "𝔹", "𝛃", "Ḃ", "🅱", "️", "ദ", "🇧"],
            C: ["C", "Ϲ", "𝖢", "Ⅽ", "С", "c", "ϲ", "𝗖", "ᑕ", "𝘊", "с", "∁", "𝖼", "Ꮯ", "Ⲥ", "ⅽ", "𝘾", "ᴄ", "𝐂", "𝙲", "𝘤", "𐒨", "Ꞇ", "ⲥ", "𝑪", "ʗ", "𝐶", "Ꮳ", "ⵎ", "𝓒", "Ⴀ", "Ƈ", "ᥴ", "ℂ", "Ҫ", "ᘓ", "Ͼ", "⊂", "Ċ", "ᑤ", "ᥫ", "🇨", "૮", "Ć", "匚", "Ĉ", "⋐", "匸"],
            D: ["D", "ᗞ", "Ⅾ", "𝖣", "Ɖ", "Ꭰ", "𝘋", "𝗗", "ᴰ", "ᴅ", "Ð", "Ɗ", "Đ", "𝐃", "𝙳", "Ɒ", "ᗪ", "𝘿", "𝐷", "𝑫", "Ḑ", "ⅅ", "Ḍ", "𝓓", "ᗟ", "ᗠ", "𝔻", "Ď", "ᗫ", "Ḋ", "Ḏ", "🇩"],
            E: ["Ε", "E", "Е", "𝖤", "ⴹ", "𝗘", "Ꭼ", "ⵟ", "𝘌", "ᴱ", "ᴇ", "𝝚", "ꗋ", "Ɛ", "⋿", "ℇ", "Ę", "Ꜫ", "Є", "ɛ", "𝙴", "Ȩ", "ε", "ᗴ", "𝙀", "𝚬", "𝐸", "𝐄", "ϵ", "𝞔", "ꜫ", "𝛦", "𝑬", "𝜠", "𝔼", "Ԑ", "є", "𝝴", "𝞮", "𝞊", "Ǝ", "𝟄", "𝜀", "𝜺", "ℰ", "𝛆", "𝓔", "∈", "𝝐", "ԑ", "∃", "ⵇ", "𝛜", "É", "Ꮛ", "Ē", "𝞢", "Ė", "È", "𝝽", "ᙓ", "Ê", "Ĕ", "Ʃ", "Ѐ", "Ẹ", "𐒢", "ᄐ", "ᇀ", "દ", "ㅌ", "트"],
            F: ["Ғ", "𝖥", "𝗙", "Ϝ", "F", "ꜰ", "ߓ", "𝘍", "Ƒ", "₣", "𝙁", "ғ", "ᖴ", "╒", "𝟊", "𝙵", "𝐅", "𝑭", "𝐹", "𝔽", "Ӻ", "𝟋", "Ŧ", "𐍆", "ℱ", "𝓕", "Ḟ", "ꘘ", "℉", "ፑ", "🇫", "Ｆ"],
            G: ["G", "𝖦", "𝘎", "ɢ", "Ǥ", "𝗚", "Ԍ", "Ꮐ", "Ⴚ", "ᴳ", "𝙶", "𝙂", "Ꮆ", "ԍ", "𝐆", "𝑮", "Ɠ", "𝐺", "Ᏻ", "₲", "𝔾", "𝓖", "ʛ", "🇬", "Ģ", "Ġ", "Ğ"],
            H: ["𝗛", "𝝜", "Н", "Η", "𝖧", "ᕼ", "H", "ʜ", "н", "Ꮋ", "Ⲏ", "𝘏", "Ꜧ", "𝞖", "Ң", "Ӈ", "𝙃", "𝚮", "ᴴ", "ᵸ", "𝐇", "Ⱨ", "𝙷", "ꖾ", "ⴼ", "ң", "𝛨", "𝐻", "𝑯", "𝜢", "Ӊ", "ⲏ", "ӈ", "ℍ", "ỻ", "ℋ", "ዘ", "ਮ", "ꔠ", "ᚌ", "₶", "𝓗", "Ĥ", "Ή", "Ḣ", "Ḥ", "Ḫ", "Ἡ", "Ḩ", "Ή", "ῌ", "Ȟ", "ӊ", "Ἠ", "Ὴ", "廾", "ዞ", "ዛ", "ㅐ", "ዙ", "🇭", "卄", "ዚ"],
            I: ["┃", "I", "Ι", "▎", "𝐥", "𝐈", "І", "ɪ", "𝖨", "ⵊ", "𝚰", "▏", "l", "❙", "ⵏ", "ǀ", "ꕯ", "𝘐", "▕", "ߊ", "ꟾ", "ꞁ", "|", "𝜤", "𝙸", "ı", "Ӏ", "Ⅰ", "ⅼ", "ا", "𝑰", "ﺍ", "⎮", "𐌠", "𝗜", "𐌉", "Ⲓ", "׀", "╿", "ן", "𝝞", "ӏ", "╽", "𝍩", "𝙄", "⎜", "❘", "⎢", "│", "𐌹", "𝙡", "𝞘", "エ", "∣", "𝘭", "𝐼", "⌶", "𝛪", "ⲓ", "𐒃", "ו", "/", "𝗹", "৷", "౹", "꘡", "ェ", "𝕀", "𐤖", "⟧", "𝓘", "𝗅", "।", "丨", "།", "工", "ㅣ", "୲", "ŀ", "Ì", "∤", "ľ", "忄"],
            J: ["𝗝", "J", "Ј", "ȷ", "𝖩", "𝐉", "𝙅", "⅃", "ᒧ", "ᴶ", "⌡", "Ꭻ", "𝘑", "ᒍ", "ᴊ", "⌋", "ﻝ", "ل", "𝑱", "𝙹", "ﻞ", "𝐽", "ℐ", "𝚥", "ᒎ", "Ɉ", "ڶ", "ݪ", "𝓙", "Ĵ", "ᒏ", "Ⴐ", "ਹ", "ᒨ", "丁", "၂", "🇯"],
            K: ["ĸ", "𝗞", "К", "K", "𝖪", "κ", "Κ", "к", "K", "𝝟", "Қ", "Ꮶ", "k", "𝙆", "Ҝ", "𝞙", "Ҡ", "Ҟ", "ᴋ", "Ƙ", "ᴷ", "𝗸", "қ", "𝘒", "₭", "𝚱", "𝐊", "Ⲕ", "ҝ", "𝗄", "Ԟ", "𝙺", "𝝹", "Ꝁ", "Ꝃ", "Ⱪ", "Ꝅ", "Ϗ", "Ќ", "𝐾", "Ķ", "𝛫", "ќ", "ҡ", "Ḱ", "ḳ", "Ḵ", "𝞳", "Ǩ", "Ḳ", "ḵ", "ԟ", "ķ", "ꗪ", "𝙠", "𝑲", "ⱪ", "𝛋", "𝜥", "ꝁ", "𝘬", "ƙ", "ҟ", "𝜿", "𝕂", "ⲕ", "ꝃ", "ꝅ", "𝚔", "𝜅", "ᵏ", "𝕜", "𝓚", "ₖ", "🇰"],
            L: ["┖", "┗", "L", "┕", "ᒪ", "𝖫", "ʟ", "Ⅼ", "└", "𝗟", "Լ", "Ꝉ", "𝘓", "ւ", "ᒻ", "Ꮮ", "╘", "ᴸ", "Ƚ", "˪", "꜖", "∟", "𝙇", "ᶫ", "𝐋", "ᥨ", "𝙻", "𝑳", "𝐿", "ᒫ", "Ỻ", "𝕃", "ℒ", "⌊", "Ĺ", "𝓛", "ட", "Ł", "⎿", "╚", "Ḷ", "Ļ", "ᒶ", "ᢺ", "Ľ", "ᒷ", "ㄴ", "乚", "🇱", "ㄥ", "Ŀ"],
            M: ["М", "Μ", "𝗠", "𝖬", "м", "Ⅿ", "M", "𝝡", "𝘔", "Ɱ", "ᴍ", "ᴹ", "𝚳", "Ӎ", "𝐌", "Ꮇ", "ʍ", "𝙈", "𝞛", "𝙼", "𝕄", "ℳ", "𐌑", "𝑴", "𝛭", "𝑀", "𝜧", "Ϻ", "ϻ", "Ꙧ", "ӎ", "ᗰ", "ᙏ", "ᙢ", "𝓜", "ന", "♏", "ო", "ꙧ", "൩", "ጠ", "ᘻ", "ᶬ", "Ṃ", "൱", "ṃ", "🇲", "ጦ", "ྊ", "ღ"],
            N: ["N", "ɴ", "𝝢", "𝖭", "𝗡", "Ν", "Ɲ", "𝘕", "Ꞑ", "ᶰ", "ᴺ", "Ⲛ", "𝚴", "𝙽", "𝐍", "𝞜", "𐌽", "𝙉", "ⲛ", "𝜨", "𝛮", "𝑵", "𝑁", "𝝥", "Ṇ", "ℕ", "п", "Ń", "И", "𝓝", "ℿ", "Ņ", "Ƞ", "Ṋ", "Ñ", "Ň", "ղ", "ח", "Ṅ", "Ｎ", "🇳"],
            O: ["О", "O", "Ο", "𝖮", "о", "ο", "Օ", "0", "o", "ⵔ", "𝘖", "𝗈", "໐", "ₒ", "ᴼ", "Ơ", "߀", "𝟢", "օ", "𝝤", "𝐎", "𝗢", "𝚶", "⭕", "⁰", "Ⲟ", "⭘", "⚪", "ᴏ", "𝟬", "𝙊", "ߋ", "○", "𝞞", "𝙾", "θ", "❍", "𐒠", "◯", "٥", "𝟶", "௦", "𝙤", "𝝾", "Ѻ", "𝗼", "𝞸", "𝚘", "𝜪", "𝑶", "𝘰", "ⲟ", "𐒆", "𝛰", "𝛐", "𝟎", "𝑂", "⚬", "੦", "𝐨", "σ", "ഠ", "𝝄", "𝝧", "𝑜", "𝜊", "𝞱", "𝓞", "ℴ", "⬯", "๐", "𝛳", "𝜃", "ʘ", "Ө", "ⵀ", "𝛉", "𝞡", "Ꙩ", "Θ", "𝜽", "ⵙ", "𝝷", "℺", "Ό", "⚈", "𝜭", "ѻ", "Ó", "Ȯ", "ϴ", "Ò", "Õ", "Ō", "Ǒ", "ɵ", "೦", "⊙", "◎", "ဝ", "၀", "〇", "ㅇ", "０", "౦", "🔵", "☉", "ዐ", "⚫", "🔴", "Ø", "ဓ", "ዑ", "⊝", "💿", "ଠ"],
            P: ["Ρ", "Р", "P", "𝖯", "𝗣", "ᑭ", "𝘗", "ᴾ", "Ꝑ", "Ᵽ", "𝝦", "Ƥ", "ᴘ", "Ꮲ", "⍴", "ᴩ", "𝗉", "𝐏", "𝚸", "ρ", "𝞠", "𝙋", "𝗽", "𝐩", "𝙿", "𝞀", "Ҏ", "𝜬", "𝑷", "𝛲", "Ⲣ", "𝛒", "𝑃", "𝞺", "ƿ", "þ", "𝓟", "ℙ", "Ꝓ", "Ꭾ", "Ῥ", "ⲣ", "ᑶ", "𝕡", "ᑮ", "Ṗ", "Ṕ", "ᑷ", "ꝓ", "ᒆ", "🇵", "🅿", "️"],
            Q: ["Q", "Ԛ", "𝖰", "Ⴍ", "𝗤", "Ꝗ", "Ⴓ", "Ϙ", "𝘘", "𝐐", "Ɋ", "ϙ", "𝙌", "Ǫ", "ǫ", "ⵕ", "𝚀", "𝑸", "𝑄", "Ǭ", "ℚ", "🇶"],
            R: ["R", "𝗥", "𝖱", "ʀ", "𝙍", "Ɍ", "𝘙", "Ꭱ", "Ɽ", "𝐑", "Ʀ", "ᴿ", "Ꮢ", "𝚁", "ᖇ", "𝑅", "℟", "𝑹", "ℛ", "ℝ", "𝓡", "℞", "🝈", "Ŕ", "ℜ", "🇷", "®", "️"],
            S: ["Ѕ", "Ⴝ", "𝖲", "s", "ѕ", "𝗌", "Տ", "S", "ꜱ", "𝘚", "𝗦", "Ꮪ", "𝘴", "𝚂", "Ş", "𝐒", "ꕶ", "Ꭶ", "𝙎", "Ꚃ", "𐍃", "𝐬", "𝑺", "𝚜", "Ꮥ", "𐒖", "𝘀", "𝑆", "ട", "𐒡", "𝙨", "ડ", "ಽ", "ऽ", "ꗟ", "ş", "ʂ", "ຣ", "𝓢", "ᵴ", "𝒔", "𝑠", "ઽ", "𝕊", "ﻛ", "ک", "ﮐ", "ꚃ", "⟆", "ᔑ", "𝕤", "ຮ", "ℐ", "ꗏ", "ꕷ", "Ｓ", "Ś", "ഽ", "🇸", "ક", "ร", "Š", "Ŝ", "ś"],
            T: ["T", "Т", "Τ", "┰", "┬", "т", "Ƭ", "𝖳", "Ţ", "Ꭲ", "┯", "┳", "𝍮", "ᵀ", "Ʈ", "Ҭ", "𝗧", "ҭ", "𝝩", "ߠ", "ᴛ", "Ⲧ", "🝨", "𝘛", "⊤", "ꔋ", "𝐓", "𝚻", "𝚃", "╥", "⟙", "𝑻", "𝞣", "𝙏", "Ͳ", "𝑇", "𝜯", "𝞃", "𝛵", "𝞽", "†", "Ṭ", "𐍄", "Ț", "⊺", "ⲧ", "ͳ", "⏉", "𝕋", "ፐ", "𝍯", "╤", "╦", "Ṱ", "₸", "Ṫ", "⫪", "Ṯ", "ㅜ", "ㄒ", "๋", "🇹", "Ť", "丅", "〒"],
            U: ["U", "𝗨", "∐", "ᑌ", "Ս", "Մ", "∪", "𝖴", "⋃", "Ⴎ", "υ", "ⵡ", "ᴜ", "ᵁ", "𝘜", "ʋ", "Ų", "Ʋ", "ᙀ", "Ա", "𝙐", "𝐔", "𝚄", "Ư", "⨿", "ᕟ", "⊔", "ᥩ", "𝞄", "𝑼", "𝑈", "𝞾", "ᥙ", "𐒩", "ᕞ", "ʯ", "𝕌", "կ", "ߎ", "ų", "𝓤", "Ŭ", "Ǔ", "ມ", "Ū", "Ụ", "Û", "Ũ", "ᑗ", "ᑘ", "և", "ᑧ", "Ù", "ப", "ບ", "Ú", "ᕫ", "Ȗ", "𐌵", "ሀ", "ㄩ", "🇺", "ሁ", "⊍", "ປ", "บ", "ั", "ป", "⋓", "Ü", "ሆ", "Ű", "Ů", "ϋ"],
            V: ["ᐯ", "V", "𝖵", "ⴸ", "𝗩", "Ⅴ", "v", "Ꮩ", "𝗏", "∨", "ⅴ", "⋁", "ᴠ", "Ѵ", "∀", "ᐁ", "∇", "Ɐ", "𝚅", "ν", "ߜ", "ѵ", "𝐕", "𝝯", "ᕓ", "۷", "𝘃", "ݍ", "٧", "𝙑", "⋎", "𝘝", "𝑉", "𝑽", "Ꮴ", "⛛", "𝛎", "߇", "𝑣", "𝜈", "ᜠ", "𝝂", "˅", "🜄", "𝓥", "Ṿ", "ṿ", "Ⱌ", "𐌖", "𝕍", "𝜐", "ᜱ", "⧨", "ᐺ", "𐌞", "ᐻ", "ᕟ", "√", "𝝊", "🝣", "ʋ", "🇻"],
            W: ["w", "W", "Ԝ", "𝗪", "𝗐", "𝖶", "ԝ", "𝘄", "ᴡ", "Ꮃ", "Ⱳ", "ᵂ", "𝙒", "𝘸", "𝘞", "ꟽ", "𝚆", "𝙬", "Ꮤ", "𝐖", "ⱳ", "𝑾", "𝑊", "𝐰", "𝕨", "𝕎", "Ш", "Ẁ", "Ẃ", "𝑤", "Ẅ", "🝃", "ᗯ", "ш", "ω", "Ẇ", "ᙎ", "Ɯ", "⍵", "𝓦", "Щ", "Ŵ", "ᙡ", "₩", "ѡ", "⨈", "𝞈", "𝛚", "ພ", "𝜔", "Ⲱ", "ധ", "𝝎", "ⲱ", "Ẉ", "ᥕ", "⟒", "🆆", "🇼", "ሠ", "ሡ", "ய", "ｗ", "พ", "ຟ", "ώ", "ฟ", "⒲", "ഡ", "ຜ"],
            X: ["x", "Χ", "X", "Х", "х", "ⵝ", "𝗫", "𝝬", "𝖷", "𝗑", "Ⅹ", "χ", "Ҳ", "ⵅ", "ⅹ", "𐌗", "𐌢", "ᕁ", "ҳ", "╳", "𝘟", "ˣ", "𝙓", "𝞦", "𝞆", "᙭", "ⴴ", "𝘅", "ᵡ", "×", "☓", "𝚾", "𝚇", "Ӿ", "𝐗", "𝛸", "𝑋", "Ӽ", "𝚡", "𝐱", "𝘹", "𝙭", "𝟀", "⨯", "𝑿", "𝜲", "✘", "𝛘", "✕", "𝜒", "❌", "𝝌", "✗", "✖", "ⵋ", "ӿ", "𝕏", "𝑥", "⨉", "𝓧", "ᚕ", "Ẋ", "ẋ", "⌧", "𝕩", "Ⲭ", "ӽ", "Ẍ", "⛌", "⤬", "✖", "️", "🇽", "乂", "🗙", "྾", "ｘ", "ㄨ"],
            Y: ["𝝲", "Y", "ʏ", "𝝪", "𝖸", "Υ", "Ү", "ү", "𝗬", "ᵞ", "𝞤", "𝞬", "𝙔", "𝐘", "𐍅", "𝘠", "𝚈", "ұ", "𝒀", "Ұ", "Ⲩ", "Ƴ", "Ɏ", "𝑌", "𝚼", "ߌ", "ϒ", "ⲩ", "Ⴤ", "Ⴘ", "ყ", "𝕐", "ⵖ", "Ỵ", "Ȳ", "Ŷ", "Ύ", "Ỳ", "Ῡ", "Ý", "Ⴗ", "Ὺ", "Ύ", "Ὑ", "Ῠ", "丫", "🇾", "Ÿ", "￥", "ㄚ"],
            Z: ["Z", "z", "𝗓", "Ζ", "𝖹", "𝝛", "𝗭", "Ꮓ", "Ƶ", "Ⱬ", "𝜡", "𝒁", "𝘡", "𝑍", "𝛧", "Ȥ", "𝙕", "𝞕", "ⱬ", "𝚭", "𝐙", "ƶ", "Ⲍ", "𝘇", "Ɀ", "𝙯", "ℤ", "☡", "𝕫", "ʐ", "ᵶ", "𝒛", "ⲍ", "𝑧", "𐌶", "ɀ", "ȥ", "Ž", "Ż", "Ź", "乙", "🇿", "之", "🆉"],
            "~": ["~", "˜", "̃", "∼", "῀", "͂", "͠", "᷉", "߬", "∾", "ᣛ", "ᔥ",],
            "`": ["̀", "`", "՝", "`", "ˋ", "̀", "‵", "ᐠ", "⸌", "‛", "ʽ", "֙", "֨", "˺", "̔", "'", "̍", "͘", "‘", "｀", "’", "”", "´", "ˊ"],
            "!": ["ļ", "ǃ", "!", "ⵑ", "ᴉ", "Ị", "ﺇ", "ḷ", "ꜝ", "ᵎ", "إ", "יִ", "❗", "ꜞ", "ﺈ", "ٳ", "❕", "！"],
            "@@": ["ઊ", "ම", "＠", "ල", "၉"],
            "#": ["#", "⋕", "ⵌ", "ꖛ", "⧣", "♯", "⧥", "井", "[", "#", "]", "＃"],
            $: ["$", "ᙚ", "💲", "Ֆ", "ֆ", "＄", "💰"],
            "%": ["%", "٪", "⸓", "ⴻ", "⁒", "÷", "％", "៖", "➗", "%"],
            "^": ["ᶺ", "˄", "ᣔ", "ˆ", "̂", "߮", "⌃", "^", "＾"],
            "&": ["&", "＆"],
            "*": ["∗", "⁕", "*", "⁎", "⃰", "꘎", "✼", "✺", "❃", "✣", "݊"],
            "(": ["(", "⦗", "❲", "❪", "⁽", "₍", "❨", "⟮", "⟬", "⦅", "（", "〔"],
            ")": [")", "⦘", "❫", "₎", "⁾", "❳", "⟯", "❩", "⟭", "⦆", "）", "〕"],
            _: ["▁", "_", "̲", "𝍠", "͟", "ߺ", "₋", "̱", "⸏", "̠", "ַ", "ˍ", "ـ", "͢", "＿"],
            "-": ["–", "╶", "━", "-", "‑", "‐", "─", "−", "‒", "⁃", "╸", "╺", "⚊", "౼", "ᜭ", "⏤", "⧿", "⎯"],
            "+": ["+", "➕", "ⵜ", "ᐩ", "₊", "ᕀ", "⁺", "╋", "╇", "╈", "🕂", "╉", "✚", "╂", "╊", "┿", "⧾", "☩", "⍭", "✛", "十", "＋"],
            "=": ["=", "᐀", "⚌", "═", "𝍡", "⁼", "゠", "꞊", "ꘌ", "＝"],
            "{": ["{", "❴", "⦃"],
            "[": ["[", "❲", "⦍", "⦏", "⟦", "ⵎ", "⦋", "〔", "［"],
            "}": ["}", "❵", "⦄"],
            "]": ["]", "❳", "⦎", "⦐", "⟯", "⟧", "⦌", "〕", "］"],
            "|": ["┃", "▏", "l", "ǀ", "▕", "I", "ꟾ", "|", "⎮", "│", "Ι", "⎜", "⎢", "❘", "⎪", "І", "⎥", "⎟", "ߊ", "ꞁ", "∣", "౹", "ⅼ", "𐌉", "𐌠", "ﺍ", "꘡", "ا", "ⵏ", "⏐", "ˡ", "Ⅰ", "Ӏ", "ı", "▎", "❙", "׀", "╻", "𝝞", "ן", "ӏ", "।", "৷", "𝍩", "Į", "ו", "Ⲓ", "𝕀", "ⲓ", "丨", "｜", "ㅣ"],
            "\\": ["\\", "⧵", "∖", "⧹", "╲", "⟍", "⸜", "ヽ"],
            ":": ["܃", "։", ":", "꞉", "∶", "⠅", "ː", "⠨", "˸", "⢐", "׃", "፡", "⠆", "⠰", "⠃", "⠘", "⦂", "ⵓ", "：", "࿒", "∷"],
            ";": [";", ";", "⁏", "⨾", "；"],
            '"': ['"', "ʺ", "̎", "“", "ײ", "ᐦ", "‟", "❝", "ᐥ", "˝", "̋", "″", "῎", "֞", "῞", "῍", "ؒ", "̏", "゛"],
            "'": ["ʹ", "'", "̍", "ꞌ", "╹", "ˈ", "ʹ", "י", "Ꞌ", "̓", "ᑊ", "̕", "❜", "ʼ", "′", "´", "́", "΄", "׳", "ߴ", "᾿", "˙", "՛", "᾽", "´", "ˊ", "́", "ᐟ", "ʾ", "҆", "͗", "֜", "‛", "֝", "ʽ", "`", "་", "｀", "‵", "ˋ"],
            "<": ["˂", "ᐸ", "ᑉ", "<", "≺", "ᗕ", "ᗉ", "ᕙ", "∢", "ᐊ", "ᗏ", "⪪", "ᗛ", "‹", "᚜", "く", "❮", "ᑅ", "⋖", "ᐹ", "⧼", "〈", "𐎓", "⟨", "𐏓", "⩤", "⪕", "≼", "⋞", "≤", "⪡", "«", "⋜", "＜", "ㄑ", "〈", "《"],
            ",": [",", "‚", "̹", "̦", "˒", "❟", "⸴", "̩", "⸒", "̗", "ˏ", "٫", "̡", "ܼ", "៸", "ر"],
            ">": ["˃", "ᐳ", ">", "≻", "ᗆ", "ᗒ", "⦠", "ᐅ", "ᗌ", "ᗓ", "›", "ᐷ", "ᑁ", "᚛", "⪫", "ᗘ", "ᑀ", "ᐴ", "❯", "❱", "❭", "⧽", "⋗", "〉", "ᗙ", "ᐶ", "⟩", "⦔", "⩾", "⨠", "⋟", "⍩", "≥", "〉", "》", "＞"],
            ".": ["߲", ".", "܂", "݂", "ܼ", "ٜ", "ᨘ", "․", "̣", "⠠", "⡀", "⢀", "ׅ", "ִ", "̥", "̻", "ⴰ", "ֽ", "。", "．"],
            "?": ["?", "❓", "‽", "␦", "ᕉ", "Ɂ", "؟", "⸮", "ɂ", "❔", "ॽ", "ᕈ", "？"],
            "/": ["/", "∕", "⧸", "╱", "⁄", "̷", "̸", "𝘭", "𝞘", "𐒃", "᜵", "⸝", "⟋", "𝙡"],
            "¡": ["¡", "і", "i", "𝗂", "İ", "ꜞ", "ꜟ", "Ǐ", "ᵢ", "וֹ", "أ", "𝗶", "ℹ", "𝕚"],
            "¢": ["₵", "¢", "⍧"],
            "£": ["£", "₤", "￡"],
            "«": ["«", "≪", "⪡", "⪻", "⟪", "巜", "《", "ㄍ"],
            "»": ["»", "≫", "⪢", "⪼", "⟫", "》"],
            "¿": ["¿", "⸘", "ᣢ"],
            "‘": ["‘", "ʻ", "❛", "ߵ", "ʿ", "ՙ", "͑", "̒", "ʹ", "̍", "'", "՚", "ެ", "ˈ", "׳"],
            "’": ["’", "̓", "ʼ", "❜", "̕", "̓", "՚", "ʹ", "ߴ", "᾽", "᾿", "҆", "ʾ", "ʹ", "͗", "′", "ꞌ", "́", "´", "΄", "׳", "՛", "ˈ", "´", "́", "ˊ"],
            "‚": [",", "‚", "̹", "͵", "˒", "̦", "⸴", "❟", "̩", "⸒", "̗", "ˌ", "ˏ", "֥"],
            "‛": ["̔", "῾", "҅", "ʿ", "͑", "ՙ", "‛", "ʽ", "'", "̍", "ꞌ"],
            "“": ['"', "“", "ʺ", "❝", "̎"],
            "”": ['"', "”", "ʺ", "ˮ", "❞", "̎", "ײ", "˝", "̋", "ᐦ", "῎", "″", "ᐥ", "ޫ", "῍", "״"],
            "„": ["„", "͈", "ܸ", "֦", "❠"],
            "‟": ['"', "ʺ", "ᐦ", "‟", "̎", "̏", "‶", "῝"]
        };

        $(document).ready(function () {

            let listItem = ``;
            for (var i = 0; i <= a["A"].length - 1; i++) {

                listItem = listItem + `<li>` + a["A"][i] + `</li>`
            }

            var html = `<ul value="A">`
                + listItem +

                `<button onclick="customdeleting(event)" class="grid_btn01" >delete font</button> </ul>`;

            console.log(html);
            $('.list_container').append(html);



            let listItem1 = ``;
            for (var i = 0; i <= a["B"].length - 1; i++) {
                listItem1 = listItem1 + `<li>` + a["B"][i] + `</li>`
            }
            var html = `<ul value="B">`

                + listItem1 +
                `<button onclick="customdeleting(event)" class="grid_btn01" >delete font</button>
                        </ul>`;
            $('.list_container').append(html);



            let listItem2 = ``;
            for (var i = 0; i <= a["C"].length - 1; i++) {
                listItem2 = listItem2 + `<li>` + a["C"][i] + `</li>`
            }
            var html = `<ul value="C">`
                + listItem2 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button>
                         </ul>`;
            $('.list_container').append(html);



            let listItem3 = ``;
            for (var i = 0; i <= a["D"].length - 1; i++) {
                listItem3 = listItem3 + `<li>` + a["D"][i] + `</li>`
            }
            var html = `<ul value="D">`
                + listItem3 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);


            let listItem4 = ``;
            for (var i = 0; i <= a["E"].length - 1; i++) {
                listItem4 = listItem4 + `<li>` + a["E"][i] + `</li>`
            }
            var html = ` <ul value="E">`
                + listItem4 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItem5 = ``;
            for (var i = 0; i <= a["F"].length - 1; i++) {
                listItem5 = listItem5 + `<li>` + a["F"][i] + `</li>`
            }
            var html = `  <ul value="F">`
                + listItem5 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItem6 = ``;
            for (var i = 0; i <= a["G"].length - 1; i++) {
                listItem6 = listItem6 + `<li>` + a["G"][i] + `</li>`
            }
            var html = `  <ul value="G">`
                + listItem6 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItem7 = ``;
            for (var i = 0; i <= a["H"].length - 1; i++) {
                listItem7 = listItem7 + `<li>` + a["H"][i] + `</li>`
            }
            var html = `  <ul value="H">`
                + listItem7 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);


            let listItem8 = ``;
            for (var i = 0; i <= a["I"].length - 1; i++) {
                listItem8 = listItem8 + `<li>` + a["I"][i] + `</li>`
            }
            var html = `  <ul value="I">`
                + listItem8 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem9 = ``;
            for (var i = 0; i <= a["J"].length - 1; i++) {
                listItem9 = listItem9 + `<li>` + a["J"][i] + `</li>`
            }
            var html = `  <ul value="J">`
                + listItem9 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem10 = ``;
            for (var i = 0; i <= a["K"].length - 1; i++) {
                listItem10 = listItem10 + `<li>` + a["K"][i] + `</li>`
            }
            var html = `  <ul value="K">`
                + listItem10 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);





            let listItem11 = ``;
            for (var i = 0; i <= a["L"].length - 1; i++) {
                listItem11 = listItem11 + `<li>` + a["L"][i] + `</li>`
            }
            var html = `  <ul value="L">`
                + listItem11 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);






            let listItem12 = ``;
            for (var i = 0; i <= a["M"].length - 1; i++) {
                listItem12 = listItem12 + `<li>` + a["M"][i] + `</li>`
            }
            var html = `  <ul value="M">`
                + listItem12 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem13 = ``;
            for (var i = 0; i <= a["N"].length - 1; i++) {
                listItem13 = listItem13 + `<li>` + a["N"][i] + `</li>`
            }
            var html = `  <ul value="N">`
                + listItem13 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem14 = ``;
            for (var i = 0; i <= a["O"].length - 1; i++) {
                listItem14 = listItem14 + `<li>` + a["O"][i] + `</li>`
            }
            var html = `  <ul value="O">`
                + listItem14 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem15 = ``;
            for (var i = 0; i <= a["P"].length - 1; i++) {
                listItem15 = listItem15 + `<li>` + a["P"][i] + `</li>`
            }
            var html = `  <ul value="P">`
                + listItem15 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem16 = ``;
            for (var i = 0; i <= a["Q"].length - 1; i++) {
                listItem16 = listItem16 + `<li>` + a["Q"][i] + `</li>`
            }
            var html = `  <ul value="Q">`
                + listItem16 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);





            let listItem17 = ``;
            for (var i = 0; i <= a["R"].length - 1; i++) {
                listItem17 = listItem17 + `<li>` + a["R"][i] + `</li>`
            }
            var html = `  <ul value="R">`
                + listItem17 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem18 = ``;
            for (var i = 0; i <= a["S"].length - 1; i++) {
                listItem18 = listItem18 + `<li>` + a["S"][i] + `</li>`
            }
            var html = `  <ul value="S">`
                + listItem18 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem19 = ``;
            for (var i = 0; i <= a["T"].length - 1; i++) {
                listItem19 = listItem19 + `<li>` + a["T"][i] + `</li>`
            }
            var html = `  <ul value="T">`
                + listItem19 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem20 = ``;
            for (var i = 0; i <= a["U"].length - 1; i++) {
                listItem20 = listItem20 + `<li>` + a["U"][i] + `</li>`
            }
            var html = `  <ul value="U">`
                + listItem20 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem0 = ``;
            for (var i = 0; i <= a["V"].length - 1; i++) {
                listItem0 = listItem0 + `<li>` + a["V"][i] + `</li>`
            }
            var html = `  <ul value="V">`
                + listItem0 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItem01 = ``;
            for (var i = 0; i <= a["W"].length - 1; i++) {
                listItem01 = listItem01 + `<li>` + a["W"][i] + `</li>`
            }
            var html = `  <ul value="W">`
                + listItem01 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItem02 = ``;
            for (var i = 0; i <= a["X"].length - 1; i++) {
                listItem02 = listItem02 + `<li>` + a["X"][i] + `</li>`
            }
            var html = `  <ul value="X">`
                + listItem02 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem03 = ``;
            for (var i = 0; i <= a["Y"].length - 1; i++) {
                listItem03 = listItem03 + `<li>` + a["Y"][i] + `</li>`
            }
            var html = `  <ul value="Y">`
                + listItem03 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItem04 = ``;
            for (var i = 0; i <= a["Z"].length - 1; i++) {
                listItem04 = listItem04 + `<li>` + a["Z"][i] + `</li>`
            }
            var html = `  <ul value="Z">`
                + listItem04 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);










            let listItema = ``;
            for (var i = 0; i <= a["a"].length - 1; i++) {

                listItema = listItema + `<li>` + a["a"][i] + `</li>`
            }

            var html = `  <ul value="a">`
                + listItema +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            //console.log(html);
            $('.list_container').append(html);




            let listItemb = ``;
            for (var i = 0; i <= a["b"].length - 1; i++) {
                listItemb = listItemb + `<li>` + a["b"][i] + `</li>`
            }
            var html = `  <ul value="b">`

                + listItemb +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemc = ``;
            for (var i = 0; i <= a["c"].length - 1; i++) {
                listItemc = listItemc + `<li>` + a["c"][i] + `</li>`
            }
            var html = `  <ul value="c">`
                + listItemc +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemd = ``;
            for (var i = 0; i <= a["d"].length - 1; i++) {
                listItemd = listItemd + `<li>` + a["d"][i] + `</li>`
            }
            var html = `  <ul value="d">`
                + listItemd +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);


            let listIteme = ``;
            for (var i = 0; i <= a["e"].length - 1; i++) {
                listIteme = listIteme + `<li>` + a["e"][i] + `</li>`
            }
            var html = `  <ul value="e">`
                + listIteme +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemf = ``;
            for (var i = 0; i <= a["f"].length - 1; i++) {
                listItemf = listItemf + `<li>` + a["f"][i] + `</li>`
            }
            var html = `  <ul value="f">`
                + listItemf +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemg = ``;
            for (var i = 0; i <= a["g"].length - 1; i++) {
                listItemg = listItemg + `<li>` + a["g"][i] + `</li>`
            }
            var html = `  <ul value="g">`
                + listItemg +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemh = ``;
            for (var i = 0; i <= a["h"].length - 1; i++) {
                listItemh = listItemh + `<li>` + a["h"][i] + `</li>`
            }
            var html = `  <ul value="h">`
                + listItemh +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);


            let listItemi = ``;
            for (var i = 0; i <= a["i"].length - 1; i++) {
                listItemi = listItemi + `<li>` + a["i"][i] + `</li>`
            }
            var html = `  <ul value="i">`
                + listItemi +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemj = ``;
            for (var i = 0; i <= a["j"].length - 1; i++) {
                listItemj = listItemj + `<li>` + a["j"][i] + `</li>`
            }
            var html = `  <ul value="j">`
                + listItemj +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemk = ``;
            for (var i = 0; i <= a["k"].length - 1; i++) {
                listItemk = listItemk + `<li>` + a["k"][i] + `</li>`
            }
            var html = `  <ul value="k">`
                + listItemk +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);





            let listIteml = ``;
            for (var i = 0; i <= a["l"].length - 1; i++) {
                listIteml = listIteml + `<li>` + a["l"][i] + `</li>`
            }
            var html = `  <ul value="l">`
                + listIteml +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);






            let listItemm = ``;
            for (var i = 0; i <= a["m"].length - 1; i++) {
                listItemm = listItemm + `<li>` + a["m"][i] + `</li>`
            }
            var html = `  <ul value="m">`
                + listItemm +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemn = ``;
            for (var i = 0; i <= a["n"].length - 1; i++) {
                listItemn = listItemn + `<li>` + a["n"][i] + `</li>`
            }
            var html = `  <ul value="n">`
                + listItemn +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemo = ``;
            for (var i = 0; i <= a["o"].length - 1; i++) {
                listItemo = listItemo + `<li>` + a["o"][i] + `</li>`
            }
            var html = `  <ul value="o">`
                + listItemo +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemp = ``;
            for (var i = 0; i <= a["p"].length - 1; i++) {
                listItemp = listItemp + `<li>` + a["p"][i] + `</li>`
            }
            var html = `  <ul value="p">`
                + listItemp +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemq = ``;
            for (var i = 0; i <= a["q"].length - 1; i++) {
                listItemq = listItemq + `<li>` + a["q"][i] + `</li>`
            }
            var html = `  <ul value="q">`
                + listItemq +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);





            let listItemr = ``;
            for (var i = 0; i <= a["r"].length - 1; i++) {
                listItemr = listItemr + `<li>` + a["r"][i] + `</li>`
            }
            var html = `  <ul value="r">`
                + listItemr +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItems = ``;
            for (var i = 0; i <= a["s"].length - 1; i++) {
                listItems = listItems + `<li>` + a["s"][i] + `</li>`
            }
            var html = `  <ul value="s">`
                + listItems +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemt = ``;
            for (var i = 0; i <= a["t"].length - 1; i++) {
                listItemt = listItemt + `<li>` + a["t"][i] + `</li>`
            }
            var html = `  <ul value="t">`
                + listItemt +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemu = ``;
            for (var i = 0; i <= a["u"].length - 1; i++) {
                listItemu = listItemu + `<li>` + a["u"][i] + `</li>`
            }
            var html = `  <ul value="u">`
                + listItemu +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemv = ``;
            for (var i = 0; i <= a["v"].length - 1; i++) {
                listItemv = listItemv + `<li>` + a["v"][i] + `</li>`
            }
            var html = `  <ul value="v">`
                + listItemv +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemw = ``;
            for (var i = 0; i <= a["w"].length - 1; i++) {
                listItemw = listItemw + `<li>` + a["w"][i] + `</li>`
            }
            var html = `  <ul value="w">`
                + listItemw +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemx = ``;
            for (var i = 0; i <= a["x"].length - 1; i++) {
                listItemx = listItemx + `<li>` + a["x"][i] + `</li>`
            }
            var html = `  <ul value="x">`
                + listItemx +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemy = ``;
            for (var i = 0; i <= a["y"].length - 1; i++) {
                listItemy = listItemy + `<li>` + a["y"][i] + `</li>`
            }
            var html = `  <ul value="y">`
                + listItemy +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemz = ``;
            for (var i = 0; i <= a["z"].length - 1; i++) {
                listItemz = listItemz + `<li>` + a["z"][i] + `</li>`
            }
            var html = `  <ul value="z">`
                + listItemz +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);





            let listItemA = ``;
            for (var i = 0; i <= a["0"].length - 1; i++) {
                listItemA = listItemA + `<li>` + a["0"][i] + `</li>`
            }
            var html = `  <ul value="0">`
                + listItemA +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemB = ``;
            for (var i = 0; i <= a["1"].length - 1; i++) {
                listItemB = listItemB + `<li>` + a["1"][i] + `</li>`
            }
            var html = `  <ul value="1">`
                + listItemB +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemC = ``;
            for (var i = 0; i <= a["2"].length - 1; i++) {
                listItemC = listItemC + `<li>` + a["2"][i] + `</li>`
            }
            var html = `  <ul value="2">`
                + listItemC +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemD = ``;
            for (var i = 0; i <= a["3"].length - 1; i++) {
                listItemD = listItemD + `<li>` + a["3"][i] + `</li>`
            }
            var html = `  <ul value="3">`
                + listItemD +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemE = ``;
            for (var i = 0; i <= a["4"].length - 1; i++) {
                listItemE = listItemE + `<li>` + a["4"][i] + `</li>`
            }
            var html = `  <ul value="4">`
                + listItemE +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemF = ``;
            for (var i = 0; i <= a["5"].length - 1; i++) {
                listItemF = listItemF + `<li>` + a["5"][i] + `</li>`
            }
            var html = `  <ul value="5">`
                + listItemF +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemG = ``;
            for (var i = 0; i <= a["6"].length - 1; i++) {
                listItemG = listItemG + `<li>` + a["6"][i] + `</li>`
            }
            var html = `  <ul value="6">`
                + listItemG +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemH = ``;
            for (var i = 0; i <= a["7"].length - 1; i++) {
                listItemH = listItemH + `<li>` + a["7"][i] + `</li>`
            }
            var html = `  <ul value="7">`
                + listItemH +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);




            let listItemI = ``;
            for (var i = 0; i <= a["8"].length - 1; i++) {
                listItemI = listItemI + `<li>` + a["8"][i] + `</li>`
            }
            var html = `  <ul value="8">`
                + listItemI +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);



            let listItemJ = ``;
            for (var i = 0; i <= a["9"].length - 1; i++) {
                listItemJ = listItemJ + `<li>` + a["9"][i] + `</li>`
            }
            var html = `  <ul value="9">`
                + listItemJ +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);


            let listItemK = ``;
            for (var i = 0; i <= a["~"].length - 1; i++) {
                listItemK = listItemK + `<li>` + a["~"][i] + `</li>`
            }
            var html = `<ul value="~">`
                + listItemK +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);


            let listitemL = ``;
            for (var i = 0; i <= a["!"].length - 1; i++) {
                listitemL = listitemL + `<li>` + a["!"][i] + '</li>'
            }
            var html = `<ul value="!">`
                + listitemL +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`;
            $('.list_container').append(html);


            let listItemM = ``;
            for (var i = 0; i <= a["@@"].length - 1; i++) {
                listItemM = listItemM + `<li>` + a["@@"][i] + `</li>`
            }
            var html = `<ul value="@@">`
                + listItemM +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);


            let listItemN = ``;
            for (var i = 0; i <= a["#"].length - 1; i++) {
                listItemN = listItemN + `<li>` + a["#"][i] + `</li>`
            }
            var html = `<ul value="#">`
                + listItemN +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);


            let listItemO = ``;
            for (var i = 0; i <= a["$"].length - 1; i++) {
                listItemO = listItemO + `<li>` + a["$"][i] + `</li>`
            }
            var html = `<ul value="$">`
                + listItemO +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItemP = ``;
            for (var i = 0; i <= a["%"].length - 1; i++) {
                listItemP = listItemP + `<li>` + a["%"][i] + `</li>`
            }
            var html = `<ul value="%">`
                + listItemP +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItemQ = ``;
            for (var i = 0; i <= a["&"].length - 1; i++) {
                listItemQ = listItemQ + `<li>` + a["&"][i] + `</li>`
            }
            var html = `<ul value="&">`
                + listItemQ +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItemR = ``;
            for (var i = 0; i <= a["*"].length - 1; i++) {
                listItemR = listItemR + `<li>` + a["*"][i] + `</li>`
            }
            var html = `<ul value="*">`
                + listItemR +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);





            let listItemS = ``;
            for (var i = 0; i <= a["("].length - 1; i++) {
                listItemS = listItemS + `<li>` + a["("][i] + `</li>`
            }
            var html = `<ul value="(">`
                + listItemS +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);




            let listItemT = ``;
            for (var i = 0; i <= a[")"].length - 1; i++) {
                listItemT = listItemT + `<li>` + a[")"][i] + `</li>`
            }
            var html = `<ul value=")">`
                + listItemT +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);


            let listItemU = ``;
            for (var i = 0; i <= a["{"].length - 1; i++) {
                listItemU = listItemU + `<li>` + a["{"][i] + `</li>`
            }
            var html = `<ul value="{">`
                + listItemU +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);


            let listItemV = ``;
            for (var i = 0; i <= a["}"].length - 1; i++) {
                listItemV = listItemV + `<li>` + a["}"][i] + `</li>`
            }
            var html = `<ul value="}">`
                + listItemV +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItemW = ``;
            for (var i = 0; i <= a[":"].length - 1; i++) {
                listItemW = listItemW + `<li>` + a[":"][i] + `</li>`
            }
            var html = `<ul value=":">`
                + listItemW +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItemX = ``;
            for (var i = 0; i <= a[";"].length - 1; i++) {
                listItemX = listItemX + `<li>` + a[";"][i] + `</li>`
            }
            var html = `<ul value=";">`
                + listItemX +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItemY = ``;
            for (var i = 0; i <= a["["].length - 1; i++) {
                listItemY = listItemY + `<li>` + a["["][i] + `</li>`
            }
            var html = `<ul value="[">`
                + listItemY +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItemZ = ``;
            for (var i = 0; i <= a["]"].length - 1; i++) {
                listItemZ = listItemZ + `<li>` + a["]"][i] + `</li>`
            }
            var html = `<ul value="]">`
                + listItemZ +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);


            let listItems1 = ``;
            for (var i = 0; i <= a["?"].length - 1; i++) {
                listItems1 = listItems1 + `<li>` + a["?"][i] + `</li>`
            }
            var html = `<ul value="?">`
                + listItems1 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItems2 = ``;
            for (var i = 0; i <= a["<"].length - 1; i++) {
                listItems2 = listItems2 + `<li>` + a["<"][i] + `</li>`
            }
            var html = `<ul value="<">`
                + listItems2 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);


            let listItems3 = ``;
            for (var i = 0; i <= a[">"].length - 1; i++) {
                listItems3 = listItems3 + `<li>` + a[">"][i] + `</li>`
            }
            var html = `<ul value=">">`
                + listItems3 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);



            let listItems4 = ``;
            for (var i = 0; i <= a["^"].length - 1; i++) {
                listItems4 = listItems4 + `<li>` + a["^"][i] + `</li>`
            }
            var html = `<ul value="^">`
                + listItems4 +
                `<button onclick="customdeleting(event)" class="grid_btn01">delete font</button></ul>`
            $('.list_container').append(html);





            $('li').click(function (event) {

                var json = {};
                json.in = event.currentTarget.parentElement.attributes.value.value;
                json.out = event.currentTarget.innerText;
                rules[rules.length] = json;
                console.log(rules)
            });

            //new ClipboardJS('.copy');

            $('#text1').change(function () {

                var html = ``;
                var text = $('#text1').val();
                for (j = 0; j < 50; j++) {
                    var dtext = text;

                    for (var i = 0; i < text.length - 1; i++) {
                        var marker = text.charAt(i);
                        if (marker != " ") {
                            var replace = a[marker];
                            var rno = randomNumber(replace.length);
                            dtext = dtext.replace(marker, replace[rno]);
                        }


                    }
                    html = html + listElements(dtext);
                }

                $('.outList').empty();
                $('.outList').append(html);

            });

        });


        function listElements(dtext) {

            var html = ``;
            html = html + `
                            <li class=" py-3 CopyContent" id="CopyContent">

                       <span class="text-span">
                         ♟☠`
                + dtext +
                `

                       </span>
                       <i class="fas fa-copy" title="Copy Text" onclick="copyFn0(event)"></i>
                       <li class=" py-3 CopyContent"id="CopyContent">
                       <span class="text-span">
                           ♟☠` + dtext + `

                        </span>

                          <i class="fas fa-copy" title="Copy Text" id="cpyFont" onclick="copyFn(event)"></i>
                        <i class="fas fa-check" id="Font_check"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        <span class="text-span">
                            🐼` + dtext + `

                        </span>
                           <i class="fas fa-copy" title="Copy Text" onclick="copyFn1(event)"></i>
                            <i class="fas fa-check" id="Font_check"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        <span class="text-span">
                            😎 ` + dtext + `🌷

                        </span>
                           <i class="fas fa-copy" title="Copy Text" onclick="copyFn2(event)"></i>
                           <i class="fas fa-check" id="Font_check"></i>
                    </li>
                    <li class=" py-3 CopyContent">
                        <span class="text-span">
                            🌷🍔` + dtext + `

                        </span>
                            <i class="fas fa-copy" title="Copy Text" onclick="copyFn3(event)"></i>
                           <i class="fas fa-check" id="Font_check"></i>
                    </li>


                    </li>`;

            // debugger
            return html;

        }

        function randomNumber(length) {
            var x = Math.floor((Math.random() * length));
            return x;
        }
        //function copyFn(event) {

        //  var $temp = $("<text>");
        // $("body").append($temp);
        // debugger
        // var d = event.currentTarget.previousElementSibling.innerText;
        //debugger

        // $temp.val((event).text()).select();
        //debugger
        ////var d = event.currentTarget.previousElementSibling.innerText;

        //document.execCommand("copy");
        //debugger
        //$temp.remove();

        function copyToClipboard(event) {
            var $temp = $("<input>");

            var innerHtml = event.currentTarget.previousElementSibling.innerText;
            $("body").append($temp);
            $temp.val(innerHtml).select();

            document.execCommand("copy");
            //alert("Contained copy");
            //$temp.remove();
        }
        function copyFn(event) {


            var innerhtml1 = event.currentTarget.previousElementSibling.innerText;
            $("body").append('<input id="copyinput" />');
            $('#copyinput').val(innerhtml1);
            $('#copyinput').select();
            document.execCommand("copy");
            alert("Text Copied Paste It Anywhere");
            $("#copyinput").remove();
        }
        function copyFn1(event) {

            var innerhtml2 = event.currentTarget.previousElementSibling.innerText;
            $("body").append('<input id="copyinput1"/>');
            $('#copyinput1').val(innerhtml2);
            $('#copyinput1').select();
            document.execCommand("copy");
            alert("Text Copied paste It Anywhere");
            $("#copyinput1").remove();
        }
        function copyFn2(event) {
            var innerhtml3 = event.currentTarget.previousElementSibling.innerText;
            $("body").append('<input id="copyinput2"/>');
            $('#copyinput2').val(innerhtml3);
            $('#copyinput2').select();
            document.execCommand("copy");
            alert("Text Copied Paste It Anywhere");
            $("#copyinput2").remove();
        }
        function copyFn3(event) {
            var innerhtml4 = event.currentTarget.previousElementSibling.innerText;
            $("body").append('<input id="copyinput3"/>');
            $('#copyinput3').val(innerhtml4);
            $('#copyinput3').select();
            document.execCommand("copy");
            alert("Text Copied Paste It Anywhere");
            $("copyinput3").remove();

        }
        function copyFn0(event) {
            var innerhtml5 = event.currentTarget.previousElementSibling.innerText;
            $("body").append('<input id="copyinput4"/>');
            $('#copyinput4').val(innerhtml5);
            $('#copyinput4').select();
            document.execCommand("copy");
            alert("Text Copied Paste It Anywhere");
            $("copyinput4").remove();
        }

        //}
        //debugger
        //var clipboard = new Clipboard(".clipboard");

        var customFormatting = event => {


            var text = $('#txtwrite').val();
            var dtext = text;
            for (i = 0; i < rules.length; i++) {
                var element = rules[i];

                dtext = dtext.replace(element.in, element.out);

            }
            $('#txtdisplay').val(dtext);

            $('#txtdisplay').css('font-size', '25px');
            $('#txtwrite').css('font-size', '25px')
        }
        var customdeleting = event => {
            // var dt = '';
            var t = event.currentTarget.parentElement.attributes.value.value;
            var filtered = rules.filter(function (value, index, arr) {
                return value.in != t;
            });
            rules = filtered;

        }



        //public static string GenerateRandomText(int textLength)
        //strings[] a = { "a", "а", "ₐ", "𝖺", "ᵃ", "𝗮", "𝘢", "Ƌ", "𝚊", "𝙖", "მ", "𝟃", "𝐚", "∂", "ƌ", "𝞉", "ą", "ɑ", "α", "𝝏", "⍺", "𝝰", "𝒂", "𝞪", "ߥ", "ᥑ", "ᥲ", "𝑎", "შ", "𝜶", "𝛼", "ᵅ", "𝖆", "ລ", "𝛂", "𝓪", "𝜕", "@@", "ạ", "á", "à", "ā", "ล"};
        //var random = new Random();
        //int r=random.Next(a.length)
        // var a = new string(Enumerable.Repeat(Chars, textLength)
        // .Select(r => r[random.Next(.Length)])
        //  .ToArray());
        //  return result;
        //----copy--text----

        //function copyFn() {
        //    debugger
        //    var copyText = document.getElementsById("copycontent");
        //debugger
        //    copyText.select();
        //    copyText.setSelectionRange(0, 99999)
        //    document.execCommand("copy");
        //    alert("Copied the text: " + copyText.value);
        //}
    </script>
    <script>
        $(document).ready(function () {
            $(".fa-copy").click(function () {
                //  var a = event.currentTarget.previousElementSibling.innerText;

                $(".fa-copy").css("display", "none");

                $(".fa-check").css("display", "block");
            });
        });

    </script>
    <script>
        AOS.init();
    </script>
</body>
</html>
