<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/image/favicon.svg">
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()

</body>
</html>
