

@{
    ViewBag.Title = "Home Page";
}
@using FontsPriject.Models
<style>
    body {
        background: #efefef;
    }
    .Site_wrp {
        margin: 0 4rem;
    }
 ul {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0 2rem;
        border: 2px solid #000000;
        padding: .3rem 1rem;
        flex-wrap: wrap;
    }

 ul li {
            list-style-type: none;
            border: 1px solid #000000;
            border-radius: 6px;
            padding: .3rem 1rem;
            margin: 5px;
            transition: .3s all ease-in-out;
        }
ul li:hover {
                opacity: .77;
                background: #555;
                cursor: pointer;
                transition: .3s all ease-in-out;
                color: #fff;
            }
 .textarea_wrp {
        width: 100%;
    }
.child-textarea {
        width: %;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0 0 0;
    }
 .child-textarea input {
            width: 49%;
            padding: 1rem 0 8rem 14px;
            border-radius: 5px;
            /* height: 224px; */
            border: 1px solid #999;
        }
 .gnrt_random {
        width: 100%;
    }
.child_random {
        width: 55%;
        background: #fff;
        padding: 1rem;
        margin: 2rem auto 0;
        border-radius: 5px;
        text-align: center;
    }
 .child_random > p {
            text-transform: capitalize;
            color: #000;
            line-height: 1.5;
            text-align: left !important;
        }
 .child_random button {
            width: 50%;
            padding: .8rem 0;
            text-align: center;
            border: none;
            outline: none;
            transition: all .3s ease-in-out;
            margin: 1rem 0 0;
            color: #000;
        }
            Site_wrp .child_random button:hover {
                opacity: .77;
                transition: all .3s ease-in-out;
            }
    .grid_btn01 {
        padding: .3rem;
        margin: .3rem;
        text-transform: capitalize;
        border: 1.5px solid #000;
        border-radius: 4px;
        transition: all .3s ease-in-out;
    }
        .grid_btn01:hover {
            transition: all .3s ease-in-out;
            background: #fff;
            box-shadow: 0 0 2px 0 #333;
        }
</style>
<div class="Site_wrp">
        <div class="textarea_wrp">
            <div class="child-textarea">
                <input id="txtwrite" placeholder=" Type some text here...">

                </input>
                <input id="txtdisplay" placeholder="  And the output will appear here...">

                </input>
            </div>

        </div>

        <div class="gnrt_random ">
            <div class="child_random">
                <p>You can edit this font by changing the subsitutions rules below. There are suggested characters, but you can also edit the rules manually by clicking the input or output character. There's a save button below the rules so you can save your font with a unique URL. Clicking the button below will replace all the existing letter-substitution rules (seen below) with random ones. Have fun!</p>
                <button onclick="customFormatting(event)">Custom Font</button>
            </div>
        </div>

        <div class="list_container">


        </div>
   </div>
